
<div class="card mx-auto px-4 pt-4 pb-4 mt-3 mb-3" style="width: 100%;">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="event_name">Nombre: </label>
      <input type="text" class="form-control" formControlName="event_name" id="event_name"/>
    </div>
    <div class="form-group">
      <label for="event_place">Lugar :</label>
      <input type="test" class="form-control" id="event_place" formControlName="event_place"/>
    </div>
    <div class="form-group">
      <label for="event_address">Dirección: </label>
      <input type="text" class="form-control" id="event_address" formControlName="event_address"/>

    </div>
    <div class="form-group">
      <label for="event_initial_date">Fecha de inicio: </label>
      <input type="date" class="form-control" id="event_initial_date" formControlName="event_initial_date" />
    </div>
    <div class="form-group">
      <label for="event_final_date">Fecha de finalización: </label>
      <input type="date" class="form-control" id="event_final_date" formControlName="event_final_date"/>
    </div>

    <div class = "row">
      <div class="form-group" style=" padding : 20px 40px;" >
        <label for="event_final_date">Categoría: </label>
        <select  formControlName="event_category"  >
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="form-group" style=" padding : 20px 40px;" >
        <label for="event_final_date">Tipo: </label>
        <select  formControlName="event_type"  >
          <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>
    </div>
    <div class="row" style=" margin: auto">
      <button type="submit" [disabled]="!eventForm.valid" class="btn btn-primary">Crear evento</button>
      &nbsp;
      <button class="btn btn-secondary" [routerLink]="['/login']">Cancelar</button>
    </div>
  </form>
</div>
